.panel6-wrapper{
    height: 800px;
    width: 1360px;
    display: inline-block;
    padding-top: 100px;
}
.about-name-button{
    color: yellow;
    background: transparent;
    font-size: 100px;
    position: relative;
    top: -370px;
    border: none;
}
.about-me-image{
    height: 530px;
    width: 620px;
}