.panel6-wrapper{
    height: 100vh;
    width: 100vw;
    display: inline-block;
    padding-top: 100px;
}
.about-name-button{
    color: yellow;
    background: transparent;
    font-size: 100px;
    position: relative;
    top: -200px;
    border: none;
}