.panel5-wrapper{
    height: 100vh;
    width: 100vw;
    display: inline-block;
    padding: 40px;
}
.tvguitar{
    height: 340px;
    width: 480px;
    position: relative;
    top: 230px;
    left: 280px;
}
.button{
    height: 50px;
    transform: rotate(-90deg);
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}
.portfolio{
    position: relative;
    width: 290px;
    height: 45px;
    top: 120px;
    left: -48px;
    background-image: url("https://i.imgur.com/I5YiO0X.jpg?2");
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px red solid;
}
.portfolio:hover{
    color: red
}
.contact{
    width: 280px;
    height: 45px;
    background-image: url("https://i.imgur.com/mIRyduM.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-360deg);
    position: relative;
    top: 132px;
    border: 2px blue solid;
}
.contact:hover{
    color: blue;
}
.about-me{
    background-image: url("https://i.imgur.com/awuNzmD.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 280px;
    height: 43px;
    position: relative;
    left: 260px;
    top: 60px;
    border: 2px yellow solid;
}
.about-me:hover{
    color: yellow;
}