.site-holder-wrapper{
    height: 300vh;
    width: 300vw;
    margin: 0;
    padding: 0;
    background-image: url("../../images/acoustic-amplifier-artist-audio-114820.jpg");
    background-size: cover;
}