.panel8-wrapper{
    height: 800px;
    width: 1360px;
    display: inline-block;
}
.button-contact{
    color: blue;
    background: transparent;
    font-size: 100px;
    position: relative;
    left: 632px;
    border: none;
}
.list-group-flush{
    font-size: 15px;
}
.icon{
    font-size: 29px;
}